{% extends '_layout.html' %}

{% block title %}Movie Rating App | All Movies{% endblock %}

{% block body %}
<h1 class="mb-5">All Movies</h1>
<p class="mb-3">See our list of movie ratings below</p>
<table class="table">
  <thead>
    <tr>
      <th>Title</th>
      <th>Director</th>
      <th>Rating</th>
    </tr>
  </thead>
  <tbody>
    <!-- TODO - Render movies in a table with a link on the title to the individual movie page -->
    {% for movie in movies %}
      <tr>
        <td><a href="/movies/{{ movie.movie_id }}">{{ movie.title }}</a></td>
        <td>{{ movie.director }}</td>
        <td>{{ movie.rating }}</td>
      </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
